@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "spartan";
  src: url('./LeagueSpartan-VariableFont_wght.ttf');
}

:root {
  --background-rgb: hsl(180, 52%, 96%);
  --light: hsl(180, 31%, 95%);
  --dark: hsl(180, 8%, 52%);
  --darker: hsl(180, 14%, 20%);
  --primary: hsl(180, 29%, 50%);

  --logo-width: 50px;
}

@media all and (min-width: 860px) {
  :root {
    --logo-width: 75px;
  }
}

body {
  background: var(--background-rgb);
  font-size: 15px;
  font-family: spartan;
}

img {
  max-width: 100%;
}

